--+template-quote-generator.zip
--+template-quote-generator/-- template-quote-generator/favicon.png
--+template-quote-generator/-- template-quote-generator/index.html
--+template-quote-generator/-- template-quote-generator/quotes.js
--+template-quote-generator/-- template-quote-generator/script.js
--+template-quote-generator/-- template-quote-generator/style.css
